main {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    /* 가운데 정렬 */
  }
  
  .custom_section {
    background-color: #fff;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .custom_section .top_drop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .custom_section .top_drop .mainCategory_btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  
  .custom_section .top_drop .mainCategory_btn span {
    margin-right: 15.5px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #333;
  }
  
  .custom_section .top_drop .mainCategory_btn div {
    border: 1px solid #e1e2e3;
    background-color: #fff;
    width: 26px;
    height: 26px;
    align-self: center;
    border-radius: 70%;
    overflow: hidden;
    position: relative;
  }
  
  .category_btn_svg{
    width: 55%;
    position: absolute;
    top: 30%;
    left: 25%;
    color: rgb(118, 118, 118);
    object-fit: cover;
  }
  
  .custom_section .top_drop .divider {
    /* margin: auto 15px; */
    font-size: 28px;
    line-height: 29px;
    padding: 3px 24px 3px;
    color: #ececec;
  }
  
  .custom_section .top_drop .middleCategory_btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .custom_section .top_drop .middleCategory_btn span {
    margin-right: 15.5px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #333;
  }
  
  .custom_section .top_drop .middleCategory_btn div {
    border: 1px solid #e1e2e3;
    background-color: #fff;
    width: 26px;
    height: 26px;
    align-self: center;
    border-radius: 70%;
    overflow: hidden;
    position: relative;
  }
  
  .custom_section .middle_drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  
  .custom_section .middle_drop .middle_drop_btn {
    display: inline-flex;
    height: 40px;
    padding: 0 15px;
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid #ececec;
    font-size: 14px;
    font-weight: 300;
    gap: 8px;
    align-items: center;
    margin-right: 6px;
  }
  
  .custom_section .middle_drop .right .middle_drop_btn {
    margin-right: 0px;
  }
  
  .custom_section .divider_container {
    max-width: 1060px;
    margin: 25px auto;
    background-color: rgba(236, 236, 236, 0.7);
    height: 1px;
    border: none;
  }
  
  .custom_section .bottom_tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
  
  .custom_section .bottom_tag .btn_slide {
    display: flex;
    justify-content: space-betceween;
    align-items: center;
    overflow: scroll;
  }
  
  .custom_section .bottom_tag .category_button {
    width: auto;
    height: 32px;
    padding: 8px 14px;
    border-radius: 20px;
  
    background: rgb(242, 251, 245);
  
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #333;
  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .custom_section .bottom_tag .category_button .icon_img {
    width: 16px;
    height: 16px;
  }

  .category_slide_left_btn{
    width: 35px;
    height: 15px;
    fill: #ececec;
    padding: 7px;
  
    align-self: center;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
    overflow: hidden;
    z-index: 15;
  }

  .category_slide_right_btn{
    width: 35px;
    height: 15px;
    fill: #ececec;
    padding: 7px;
  
    align-self: center;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
    overflow: hidden;
    z-index: 15;
  }
  
  .recommend_section {
    background-color: #fff;
    width: 100%;
    padding-bottom: 25px;
  }
  
  .recommend_section .bookmark {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    color: #36f;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .recommend_section .bookmark svg:first-child {
    margin-right: 5px;
  }
  
  .recommend_section .section_title {
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    color: #333;
    margin: 20px 0 14px;
  }
  
  .recommend_section .company_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
  
  .recommend_section .company_list a .header {
    position: relative;
  }
  
  .recommend_section .company_list a .header img {
    max-width: 197px;
    width: 100%;
    border-radius: 3px 3px 0 0;
    background-position: 50%;
    background-size: cover;
    background-color: #f2f2f2;
    border: 1px solid #e1e2e3;
    background-repeat: no-repeat;
  }
  
  .recommend_section .company_list a .footer {
    margin: -2px auto 0px;
    padding: 34px 16px 0;
    height: 90px;
    border: 1px solid #e1e2e3;
    /* border-top: none; */
    border-radius: 0 0 3px 3px;
    position: relative;
  }
  
  .recommend_section .company_list a .footer img {
    position: absolute;
    top: -25px;
    left: 16px;
    width: 50px;
    height: 50px;
    border: 1px solid #e1e2e3;
  }
  
  .recommend_section .company_list a .footer h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 4px 0;
  }
  
  .recommend_section .company_list a .footer h5 {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    margin-top: 6px;
  }
  
  .grid_section{
    background-color: #fff;
    width: 100%;
  }
  
  .recruitment_list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:5px;
    flex-wrap: wrap;
  }
  
  .recruitment_content{
    width:100%;
    max-width: 250px;
    flex-shrink: 0;
    margin-bottom: 10px;
  }
  
  .recruitment_content .content_header{
  position: relative;
  }
  
  .recruitment_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 3px;
  }
  
  .recruitment_bookmark{
    position: absolute;
    background: none;
    padding: 8px 6px;
    width: 42px;
    height: 42px;
    top: 0;
    right: 0;
  }
  
  .recruitment_content .content_body{
    padding: 14px 0px;
  }
  
  .recruitment_title{
    color: #333;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.2;
  }
  
  .recruitment_companyname{
    font-size: 14px;
    margin-top: 10px;
  }
  
  .recruitment_response_rate{
    border: 1px solid #00aead;
    color: #00aead;
    border-radius: 2px;
    background-color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    margin-top: 4px;
    padding: 0 5px;
    line-height: 19px;
  }
  
  .recruitment_region{
    font-weight: 400;
    color: #999;
    font-size: 14px;
    line-height: normal;
    margin-top: 10px;
  }
  
  .recruitment_pay{
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    font-weight: 500;
  }
  
  .grid_section .typetest_banner {
    display: flex;
    align-items: center;
  
    max-width: 1060px;
    margin: 35px auto 60px;
  
    width: 100%;
    height: 108px;
  
    background: #0d99ff;
    color: #fff;
    border-radius: 15px;
    font-size: medium;
    font-weight: 500;
  
    background-image: url(https://static.wanted.co.kr/images/type-test/typetest-banner-image.png);
    background-size: auto 100%;
    background-position: 100%;
    background-repeat: no-repeat;
  }
  
  .grid_section .typetest_banner .banner_wrap {
    padding: 28px 0px 22px 120px;
  }
  
  .grid_section .typetest_banner .banner_wrap div:first-child {
    font-size: 130%;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .grid_section .typetest_banner .banner_wrap .gotxt_wrap {
    display: flex;
    align-items: center;
  }
  
  .grid_section .typetest_banner .banner_wrap svg {
    width: 16px;
    height: 16px;
    fill: #fff;
    margin-left: 3px;
  }